<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myblog.mapper.UserMapper"><!--mapper包下UserMapper接口文件-->

    <select id="getbynameandpassword" resultType="User">
        select * from user where username= #{username} and password = #{password};
    </select>
    <select id="getbyusername" resultType="Object">
        select username from user where username= #{username} ;
    </select>
    <insert id="insertusers" >
        insert into user(username,password,Email,registertime,lastonlinetime) value(#{username},#{password},#{Email},#{registertime},#{lastonlinetime});
    </insert>
    <update id="getthetime" >
        update user SET lastonlinetime=#{lastonlinetime} where username=#{username};
    </update>
    <select id="getallinfo" resultType="User">
        select * from user where username= #{username} ;
    </select>
</mapper>
